<h2>All Coffee Houses</h2>
<br>

<% @coffee_houses.each do |coffee_house| %>
  <div>
    <h5><a href="/coffee_houses/<%= coffee_house.slug %>"><%= coffee_house.name %></a>,  <%= coffee_house.location %></h5>
  </div>
<% end  %>
